<!-- LANDING -->
<div class="landing">
  <div class="login">

    <h1>Peragrin</h1>

    <form ng-class="status">

      <!-- Username -->
      <div class="form-group form-group-lg">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" ng-model="username" placeholder="Enter your username">
      </div>

      <!-- Password -->
      <div class="form-group form-group-lg">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" ng-model="password" placeholder="Enter your password">
      </div>

      <!-- Submit -->
      <button ng-click="submit(username, password)" type="submit" class="btn btn-lg btn-default">Login</button>

      <!-- Message -->
      <p class="help-block pull-right">{{message}}</p>

    </form>

  </div>
</div>
