@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html, body {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

a {
  cursor: pointer;
}

.landing {
  background-color: $brand-primary;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  h1 {
    font-family: $font-family-brand;
    font-size: ceil(($font-size-h1 * 2));
  }

  .login {
    width: 500px;
    color: white;

    .form-group-lg > .control-label {
      font-size: $font-size-large;
    }
  }
}

.dashboard {
  h2 {
    font-size: ceil(($font-size-h2 * 1.5));
  }
}

.form-control, .btn-default {
  border: 1px solid white;
}

.btn-primary {
}

.list-group {
	.list-group-heading {
		background-color: #eee;
	}
}

.navbar {
  .navbar-nav {
    font-size: ceil(($font-size-base * 2));
  }

  .navbar-brand {
    font-family: $font-family-brand;
    font-size: ceil(($font-size-large * 2));
    color: white;

    &:hover {
      color: $brand-primary;
      cursor: pointer;
    }
  }

  &.navbar-inverse {
    border-bottom-width: 12px;
    border-bottom-color: $brand-primary;
  }
}
