$icons-font-path: "/fonts/";

$font-family-sans-serif: Roboto;
$font-family-serif:      Roboto;
$font-family-base:       $font-family-sans-serif;
$font-family-brand: 'Fredoka One', cursive;

$border-radius-base:        2px;
$border-radius-large:       3px;
$border-radius-small:       1px;

$navbar-border-radius: 0px;
$navbar-height: 100px;

$brand-primary: #4DB880;
