<!-- Dashboard -->
<div class="dashboard">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse" role="navigation" ng-init="collapsed=true">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="collapsed=!collapsed">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="landing">Peragrin</a>
      </div>

      <div class="navbar-collapse" uib-collapse="collapsed">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="app.dashboard">Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="collapsed"><img gravatar-src-once="email" gravatar-size="100"></li>
          <li><a href ng-click="logout()">Logout</a></li>
        </ul>
      </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <!-- ORGANIZATIONS -->
      <div class="col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading clearfix">
            <h2 class="panel-title pull-left">Organizations</h2>
            <button ng-if="organization.leader" ng-click="createOrganization()" class="btn btn-primary btn-lg pull-right">Create Organization</button>
          </div>
          <div ng-if="organization.enabled" class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><strong>Name</strong></th>
                  <th><strong>Address</strong></th>
                  <th ng-if="organization.leader"><strong>Enabled</strong></th>
                  <th ng-if="organization.leader"></th>
                </tr>
              <thead>
              <tbody>
                <tr ng-repeat="org in organizations" ng-class="{warning: !org.enabled, success: org.id == organization.id}">
                  <td>{{org.name}}</td>
                  <td>{{org.address}}</td>
                  <td ng-if="organization.leader"><span class="glyphicon" ng-class="{'glyphicon-ok': org.enabled, 'glyphicon-remove': !org.enabled}"></span></td>
                  <td ng-if="organization.leader">
                    <div class="btn-group btn-group-md">
                      <button ng-show="!org.enabled" ng-click="enableOrganization(org)" class="btn btn-primary">Enable</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="!organization.enabled" class="panel-body">
            <div class="alert alert-info" role="alert">
              <p>Your account has not been enabled by the community leader yet. Feel free to reach out to us at <a href="mailto:support@peragrin.com">support@peragrin.com</a> at any time if you are unable to get in touch with your community leader.</p>
              <hr/>
              <button class="btn btn-default btn-lg">Notify Community Leader</button>
            </div>
          </div>
        </div>
      </div>

      <!-- SOCIAL FEED -->
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Social Feed</h2>
          </div>
          <ul class="list-group">
            <li ng-repeat="post in posts" class="list-group-item">
              <span class="pull-right">{{post.createdAt}}</span>
              <h4 class="list-group-item-heading">{{post.organizationID}}</h4>
              <p class="list-group-item-text">{{post.content}}
            </li>
          </ul>
        </div>
      </div>

      <!-- MAP -->
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">{{organization.name}}</h2>
            <p>{{organization.address}}</p>
          </div>
          <div class="panel-body map">
            <leaflet tiles="tiles" center="geo" markers="markers" defaults="defaults" width="100%" height="480px"></leaflet>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
