<!-- LOGIN -->
<form ng-class="status" class="login">

  <!-- EMAIL -->
  <div class="form-group form-group-lg">
    <label class="control-label">Email</label>
    <input type="email" class="form-control" ng-model="email" placeholder="Enter your email">
  </div>

  <!-- PASSWORD -->
  <div class="form-group form-group-lg">
    <label class="control-label">Password</label>
    <input type="password" class="form-control" ng-model="password" placeholder="Enter your password">
  </div>

  <!-- SUBMIT -->
  <button ng-click="submit(email, password)" type="submit" class="btn btn-lg btn-default">Login</button>

  <!-- MESSAGE -->
  <p class="help-block">{{message}}</p>

  <div class="help-block">
    <a ui-sref="app.landing.register">If you do not have an account, then click here to register.</a>
  </div>

</form>
