<!-- Header -->
<div class="modal-header">
  <h3 class="modal-title">Login</h3>
</div>

<!-- Body -->
<div class="modal-body">
  <form ng-class="status">

    <!-- Username -->
    <div class="form-group form-group-lg">
      <label class="control-label">Username</label>
      <input type="text" class="form-control" ng-model="username" placeholder="Enter your username">
    </div>

    <!-- Password -->
    <div class="form-group form-group-lg">
      <label class="control-label">Password</label>
      <input type="password" class="form-control" ng-model="password" placeholder="Enter your password">
    </div>

    <!-- ORGANIZATION NAME -->
    <div class="form-group form-group-lg">
      <label class="control-label">Organization Name</label>
      <input type="text" class="form-control" ng-model="organization.name" placeholder="Enter your organization's name">
    </div>

    <!-- ORGANIZATION ADDRESS -->
    <div class="form-group form-group-lg">
      <label class="control-label">Organization Address</label>
      <input type="text" class="form-control" ng-model="organization.address" placeholder="Enter your organization's address">
    </div>

    <!-- Submit -->
    <button ng-click="submit()" type="submit" class="btn btn-primary btn-lg">Create Organization</button>

    <!-- Cancel -->
    <button ng-click="cancel()" class="btn btn-danger btn-lg">Cancel</button>

    <!-- Message -->
    <p class="help-block pull-right">{{message}}</p>

  </form>
</div>
