<!-- Dashboard -->
<div class="dashboard">

  <!-- Jumbotron -->
  <div class="jumbotron text-center">
    <h1>{{auth.user.organization.name}}</h1>
    <p ng-if="auth.user.organization.is_leader"><small>community leader</small></p>
    <br>
    <p>{{auth.user.email}}</p>
  </div>

  <div class="container">
    <ul class="list-group">
      <li class="list-group-item list-group-heading">Leaders</li>
      <li ng-repeat="leader in leaders" class="list-group-item">{{leader.username}}</li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-heading">Communities</li>
      <li ng-repeat="community in communities" class="list-group-item">{{community.name}}</li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-heading">Organizations</li>
      <li ng-repeat="organization in organizations" class="list-group-item">{{organization.name}}</li>
    </ul>
  </div>

</div>
